# Your login link to dreamstart

Click on the link below to login to dreamstart:


[Go to example.com]({{ url }})


If you did not request this login, please ignore this email and feel free to delete it.
Someone might have typed the wrong email when logging in.


This link is valid for 1 hour.
